<div class="card">
  <div class ="card-img-wrapper">
    <img class="card-img-top" src="assets/images/portrait.png">
    <ul class="list-inline text-center member-icons animate">
      <li class="list-inline-item">
        <button (click)=onEdit() class="btn btn-primary">Edit</button>
      </li>
      <li class="list-inline-item">
        <button (click)=onDelete() class="btn btn-delete">Delete</button>
      </li>
    </ul>
  </div>

  <img class="card-body p-1" >
  <h2>{{employee.firstName}}</h2>
  <h3>{{employee.lastName}}</h3>
  <h5>{{employee.id}}</h5>



</div>

